<table summary="Debt form fields">
  <tr>
    <th> <%= f.label(:amount, "Amount") %> </th>
    <td> <%= f.text_field(:amount) %> </td>
  </tr>
  <tr>
    <th> <%= f.label(:reason, "Reason") %> </th>
    <td> <%= f.text_area(:reason, :size => '40x10') %> </td>
  </tr>
</table>