<h1> List Of All Current Debts </h1>

<div class="hero-unit">
  <ul>
    <% @debts.each do |debt| %>
      <li> 
        <%= link_to(name_of(debt.peasant), '#') %>
        owes 
        <%= link_to(name_of(debt.lord), '#') %>
        $<%= debt.amount %> for <%= debt.reason %>
      </li>
    <% end %>
  </ul>
</div>
