<h3> User List </h3>

<ul>
	<% @users.each do |user| %>
		<li> 
			<% if user.first_name %>
				<%= user.first_name %> 
				<% if user.last_name %>
					<%= user.last_name %>
				<% end %>
			<% else %>
				<%= user.email %>
			<% end %>
		</li>
	<% end %>
</ul>