<div class="hero-unit">
	<h3> This is 
		<% if @user.first_name %>
			<%= @user.first_name %> 
			<% if @user.last_name %>
				<%= @user.last_name %>
			<% end %>
		<% else %>
			<%= @user.email %>
		<% end %>
	&#39;s Profile! </h3>
	<div class="row">
		<div class="span4">
			<%= link_to("Change name", :action => 'edit_name') %>
		</div>
	</div>
</div>