<div class="hero-unit">
	<h2 style='text-align:center;'> This is Debt Tracker 2.0!</h2>
	<h6 style='text-align:center;'> an application made for the BRO House </h6>
	<hr>
	<div class="row">
	     <div>
	         <h3>How we started ?</h3>

				<p>
					Once upon a time there were some awesome Bruins. One night at BJ's, Beta Rho Omega was founded by said awesome Bruins. Over time, BRO has grown into an organization poised to replace the Illuminati. This web app helps them track their debts. 
				</p>
	    </div>
	 </div>
</div>
<div class="hero-unit">
	<h3>Useful fact:</h3>		 
	<p>Babies aren't dishwasher safe...you have been warned.</p>
</div>


