<div class="hero-unit">
	<h3> BRO Newsletter </h3>
	<hr>
	<div class="row">
		Getting ready to kick off the new year at the BRO House!!!!
	</div>
	 
</div>
<div class="hero-unit">
	<strong> Bitch of the Week: </strong> Chris....for building a shitty web app.
</div>
